/* ADMIN CSS */
.wpcf7le h1.wp-heading-inline{line-height:2.5;margin-bottom:20px;}
.wpcf7le div.postbox{padding:15px 30px;}
.wpcf7le p{padding:0 0 15px 0;}
.wpcf7le a.button-primary{margin:0 0 15px 20px;}
